
 
<div style="margin-top:100px;"></div>
<div class="control-container"  >  
  <form id="formId" #registerForm="ngForm"   novalidate="">
    <ejs-carousel [selectedIndex]="selectedIndex" [autoPlay]="false" [showIndicators]="false" [scrollLeft]="false"  [draggable]="false"
    [buttonsVisibility]="false" [enableTouchSwipe]="false" [loop]="false"   
    
    >
      <e-carousel-items >
        <e-carousel-item  >
          <ng-template #template>
            <figure class="img-container">
         
              <figcaption class="img-caption">Cardinal</figcaption>
              <div class="control-section">
                <div class="col-lg-12">
                     
                        <h4 class="text-center text-primary">Rejestracja przewoźnika</h4> <h5 style="text-align:center;">Dane firmy (1/3)</h5>
            <hr>
                <div class="control_wrapper" id="control_wrapper" style="margin: 25px auto;">
                  
                            <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': nip.valid}">
                                    <input style="font-size: 22px;"  type="text" id="nip"     [(ngModel)]="company.nip" name="nip" required>
                                   
                                    <label class="e-float-text"  for="nip">Podaj NIP</label>                        
                                </div>
                                <span class="e-error" *ngIf="nip.errors && nip.errors.required && (nip.dirty || nip.touched)" >
                                    * Enter your nip
                                </span>  
                            </div>

                            


                            <div *ngIf="isShown">
                            <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': nazwa.valid}">
                                    <input type="text" id="nazwa" #nazwa='ngModel' [(ngModel)]="company.nazwa" name="nazwa" required>
                                   
                                    <label class="e-float-text" [ngClass]="{'e-label-top': company.nazwa !== '' , 'e-label-bottom':  company.nazwa == ''}" for="nazwa">Nazwa</label>                        
                                </div>
                                <span class="e-error" *ngIf="nazwa.errors && nazwa.errors.required && (nazwa.dirty || nazwa.touched)" danger padding-left>
                                    * Podaj nazwę firmy
                                </span>
                            </div>
                            
            
                            <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': kodPocztowy.valid}">
                                    <input type="text" id="kodPocztowy" name="kodPocztowy" [(ngModel)]="company.kodPocztowy" #kodPocztowy="ngModel" minlength="6" required >
                                   
                                    <label class="e-float-text" [ngClass]="{'e-label-top': company.kodPocztowy !== '' , 'e-label-bottom':  company.kodPocztowy == ''}" for="name">Kod Pocztowy</label>                            
                                </div>
                                <span class="e-error" *ngIf="kodPocztowy.errors && kodPocztowy.errors.required && (kodPocztowy.dirty || kodPocztowy.touched)" >
                                    * Enter your kodPocztowy
                                </span>
                                <span  class="e-error" *ngIf="kodPocztowy.errors && kodPocztowy.errors.minlength" >
                                    * Enter a valid kodPocztowy
                                </span>
                            </div>
            
            
                            <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': ulica.valid}">
                                    <input type="text" id="ulica" name="ulica" [(ngModel)]="company.ulica" #ulica="ngModel" minlength="6" required >
                                   
                                    <label class="e-float-text" [ngClass]="{'e-label-top': company.ulica !== '' , 'e-label-bottom':  company.ulica == ''}" for="name">Ulica</label>                            
                                </div>
                                <span class="e-error" *ngIf="ulica.errors && ulica.errors.required && (ulica.dirty || ulica.touched)" >
                                    * Enter your ulica
                                </span>
                                <span  class="e-error" *ngIf="ulica.errors && ulica.errors.minlength" >
                                    * Enter a valid ulica
                                </span>
                            </div>
                            <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': nrNieruchomosci.valid}">
                                    <input type="text" id="nrNieruchomosci" name="nrNieruchomosci" [(ngModel)]="company.nrNieruchomosci" #nrNieruchomosci="ngModel" minlength="1" required >
                                   
                                    <label class="e-float-text" [ngClass]="{'e-label-top': company.nrNieruchomosci !== '' , 'e-label-bottom':  company.nrNieruchomosci == ''}" for="name">Nr. nieruchomosci</label>                            
                                </div>
                                <span class="e-error" *ngIf="nrNieruchomosci.errors && nrNieruchomosci.errors.required && (nrNieruchomosci.dirty || nrNieruchomosci.touched)" >
                                    * Enter your nrNieruchomosci
                                </span>
                                <span  class="e-error" *ngIf="nrNieruchomosci.errors && nrNieruchomosci.errors.minlength" >
                                    * Enter a valid nr Nieruchomosci
                                </span>
                            </div>
            
                            <div class="form-group template">
                                <div class="e-float-input" [ngClass]="{'e-success': nrLokalu.valid}">
                                    <input type="text" id="nrLokalu" name="nrLokalu" [(ngModel)]="company.nrLokalu" #nrLokalu="ngModel" minlength="1" required >
                                   
                                    <label class="e-float-text" [ngClass]="{'e-label-top': company.nrLokalu !== '' , 'e-label-bottom':  company.nrLokalu == ''}" for="name">Nr. lokalu</label>                            
                                </div>
                                <span class="e-error" *ngIf="nrLokalu.errors && nrLokalu.errors.required && (nrLokalu.dirty || nrLokalu.touched)" >
                                    * Enter your nrLokalu
                                </span>
                                <span  class="e-error" *ngIf="nrLokalu.errors && nrLokalu.errors.minlength" >
                                    * Enter a valid nrLokalu
                                </span>
                            </div>
             
            
                                        
                          
                            <input style="  margin-left:5px;" class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                     <div   class="desc" style="width: 95%; margin-left:18px;"><p >  *  skonto (jeśli w Speed informacja na temat skonta jest, możemy domyślnie zaznaczyć mu checkbox w aplikacji - do jego weryfikacji), 
                                        - gwarancję, że nie będzie podejmował ładunków bezpośrednio od zleceniodawcy, 
                                        - musi zaakceptować regulamin 
                                        - politykę prywatności 
                                        -  co jeszcze</p></div>                     
                                 
                               
                                       

                            </div>    
                            

                            <div class="col-sm-10"   >
                                <button ejs-button id="submitbutton"  class="e-btn e-success" type="submit"
                                  style="padding:5px;margin-bottom:20px; height: 40px;;"  (click)="getCompanyByNip()" type="submit">Pobierz dane z GUS</button> 
                                <button *ngIf="isShown" style="  float: right;  " class="btn btn-success mr-2" (click)="nextBtnClick()" type="submit"
                                [disabled]="!firstPageButton" (Mouseover)="CheckIsValid()"
                                >Dalej ></button> 
                            </div>
                                                
                      
                      
                       
                </div>
               
              </div>
            </div>
            </figure>
          </ng-template>
        </e-carousel-item>
        <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">

                <h4 class="text-center text-primary">Rejestracja przewoźnika</h4><h5 style="text-align:center;">Dane kontaktowe (2/3)</h5>
                <hr>
                <div class="control_wrapper" id="control_wrapper" style="margin: 25px auto;">

                  <div class="form-group template">
                    <div id="UserName-no" class="e-float-input" [ngClass]="{'e-success': mobilenum.valid}">
                        <input (ngModelChange)="saverange($event)"  type="text" id="mobileno" name="UserName" [(ngModel)]="company.UserName" #mobilenum="ngModel" required  >
                       
                        <label class="e-float-text" [ngClass]="{'e-label-top': company.UserName !== '' , 'e-label-bottom':  company.UserName == ''}" for="name">Login</label>                                                        
                    </div>
                    <span class="e-error" *ngIf="mobilenum.errors && mobilenum.errors.required && (mobilenum.dirty || mobilenum.touched)" >
                        * Podaj swój Login
                    </span>
                    <span  class="e-error" *ngIf="mobilenum.errors && mobilenum.errors.pattern && (mobilenum.dirty || mobilenum.touched)" >
                        * Podaj swój Login
                    </span>
                </div>

                  <div class="form-group template">
                    <div class="e-float-input" [ngClass]="{'e-success': password.valid}">
                        <input (ngModelChange)="saverange($event)"  type="password" id="password" name="password" [(ngModel)]="company.password" #password="ngModel" minlength="6" required >
                       
                        <label class="e-float-text" [ngClass]="{'e-label-top': company.password !== '' , 'e-label-bottom':  company.password == ''}" for="name">Hasło</label>                                        
                    </div>
                    <span class="e-error" *ngIf="password.errors && password.errors.required && (password.dirty || password.touched)" >
                        * Podaj swoje hasło
                    </span>
                    <span  class="e-error" *ngIf="password.errors && password.errors.minlength&& (password.dirty || password.touched)" >
                        * Enter a valid password
                    </span>
                </div>

                <div class="form-group template">
                    <div class="e-float-input" [ngClass]="{'e-success': password.valid}">
                        <input  (ngModelChange)="saverange($event)"  type="password" id="password" name="password" [(ngModel)]="company.password" #password="ngModel" minlength="6" required >
                       
                        <label class="e-float-text" [ngClass]="{'e-label-top': company.password !== '' , 'e-label-bottom':  company.password == ''}" for="name">Powtórz hasło</label>                                        
                    </div>
                    <span class="e-error" *ngIf="password.errors && password.errors.required && (password.dirty || password.touched)" >
                        * Podaj swoje hasło
                    </span>
                    <span  class="e-error" *ngIf="password.errors && password.errors.minlength&& (password.dirty || password.touched)" >
                        * Enter a valid password
                    </span>
                </div>


                    <div class="form-group template">
                        <div id="mobile-no" class="e-float-input" [ngClass]="{'e-success': mobilenum.valid}">
                            <input (ngModelChange)="saverange($event)"  type="number" id="mobileno" name="mobile" [(ngModel)]="company.mobile" #mobilenum="ngModel" required pattern="^[0-9]{10}$">
                           
                            <label class="e-float-text" [ngClass]="{'e-label-top': company.mobile !== '' , 'e-label-bottom':  company.mobile == ''}" for="name">Telefon</label>                                                        
                        </div>
                        <span class="e-error" *ngIf="mobilenum.errors && mobilenum.errors.required && (mobilenum.dirty || mobilenum.touched)" >
                            * Enter your mobile number
                        </span>
                        <span  class="e-error" *ngIf="mobilenum.errors && mobilenum.errors.pattern && (mobilenum.dirty || mobilenum.touched)" >
                            * Enter a valid mobile number
                        </span>
                    </div>


                    <div class="form-group template">
                        <div id="mobile-no" class="e-float-input" [ngClass]="{'e-success': email.valid}">
                            <input  (ngModelChange)="saverange($event,  'email')"  type="text" id="email" name="email" [(ngModel)]="company.email" #email="ngModel" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                           
                            <label class="e-float-text" [ngClass]="{'e-label-top': company.email !== '' , 'e-label-bottom':  company.email == ''}" for="name">Email</label>                                                
                        </div>
                        <span class="e-error" *ngIf="email.errors && email.errors.required && (email.dirty || email.touched)" >
                            * Enter your email address
                        </span>
                        <span  class="e-error" *ngIf="email.errors && email.errors.pattern && (email.dirty || email.touched)" >
                            * Enter a valid email address
                        </span>
                    </div>

         
                <button *ngIf="isShown" style="  float: left; margin-top: 40px; "   class="btn btn-light" (click)="prevBtnClick()"> Cofnij</button>
                <button *ngIf="isShown" style="  float: right; margin-top: 40px; "   class="btn btn-success mr-2" (click)="nextBtnClick()" type="submit"
                [disabled]="!secondPageButton"   
                >Dalej ></button> 

            </div>
             <!--  <figcaption style="background-color:#334c48; margin-top: 140px;  ;" class="img-caption">Dane Kontaktowe</figcaption>-->
            </figure>
          </ng-template>
        </e-carousel-item>


 


        <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">
  
                <h4 class="text-center text-primary">Rejestracja przewoźnika</h4><h5 style="text-align:center;">Flota (3/3)</h5>
                <hr>
                <div class="control_wrapper" id="control_wrapper" style="margin: 25px auto;">  
                    <div class="container">
                      <div class="row" style="margin-top: 20px;">
                          <div class="col-sm-8">   
                              <div class="stepper-input stepper__input">
                                <h4 style="color:#16489d;">Ciągnik siodłowy</h4> <hr>
                              </div>
                          </div>
                            <div class="col-sm-4"> 
                                <div class="stepper-input stepper__input">
                                    <button class="toggle-less"  (click)="toggleLess_ciagnik_siodlowy()">
                                      <img src="https://angular-stepper-input.stackblitz.io/assets/minus.svg" [attr.alt]="ariaLabelLess" />
                                    </button>
                                    <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
                                       {{renderedValue_ciagnik_siodlowy}}  
                                    </div>
                                    <button class="toggle-more" (click)="toggleMore_ciagnik_siodlowy()">
                                      <img src="https://angular-stepper-input.stackblitz.io/assets/plus.svg" [attr.alt]="ariaLabelMore" />
                                    </button>
                                </div> 
                            </div>
                      </div> 

                      <div class="row" style="margin-top: 20px;">
                        <div class="col-sm-8">   
                            <div class="stepper-input stepper__input">
                              <h4 style="color:#16489d;">Ciągnik trójosiowy</h4> <hr>
                            </div>
                        </div>
                          <div class="col-sm-4"> 
                              <div class="stepper-input stepper__input">
                                  <button class="toggle-less"  (click)="toggleLess_ciagnik_trojosiowy()">
                                    <img src="https://angular-stepper-input.stackblitz.io/assets/minus.svg" [attr.alt]="ariaLabelLess" />
                                  </button>
                                  <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
                                     {{renderedValue_ciagnik_trojosiowy}}  
                                  </div>
                                  <button class="toggle-more" (click)="toggleMore_ciagnik_trojosiowy()">
                                    <img src="https://angular-stepper-input.stackblitz.io/assets/plus.svg" [attr.alt]="ariaLabelMore" />
                                  </button>
                              </div> 
                          </div>
                        </div> 



                        <div class="row" style="margin-top: 20px;">
                            <div class="col-sm-8">   
                                <div class="stepper-input stepper__input">
                                  <h4 style="color:#16489d;">Ciągnik typu mega</h4> <hr>
                                </div>
                            </div>
                              <div class="col-sm-4"> 
                                  <div class="stepper-input stepper__input">
                                      <button class="toggle-less"  (click)="toggltoggleLess_ciagnik_trojosiowy_typu_mega()">
                                        <img src="https://angular-stepper-input.stackblitz.io/assets/minus.svg" [attr.alt]="ariaLabelLess" />
                                      </button>
                                      <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
                                         {{renderedValue_ciagnik_typu_mega}}  
                                      </div>
                                      <button class="toggle-more" (click)="toggleMore_ciagnik_trojosiowy_typu_mega()">
                                        <img src="https://angular-stepper-input.stackblitz.io/assets/plus.svg" [attr.alt]="ariaLabelMore" />
                                      </button>
                                  </div> 
                              </div>
                            </div> 


                            <div class="row" style="margin-top: 20px;">
                                <div class="col-sm-8">   
                                    <div class="stepper-input stepper__input">
                                      <h4 style="color:#16489d;">Ciągnik typu mega</h4><p>regul. wysokość sidła)</p> <hr>
                                    </div>
                                </div>
                                  <div class="col-sm-4"> 
                                      <div class="stepper-input stepper__input">
                                          <button class="toggle-less"  (click)="toggltoggleLess_ciagnik_trojosiowy_typu_mega_regul()">
                                            <img src="https://angular-stepper-input.stackblitz.io/assets/minus.svg" [attr.alt]="ariaLabelLess" />
                                          </button>
                                          <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
                                             {{renderedValue_ciagnik_typu_mega_regul}}  
                                          </div>
                                          <button class="toggle-more" (click)="toggleMore_ciagnik_trojosiowy_typu_mega_regul()">
                                            <img src="https://angular-stepper-input.stackblitz.io/assets/plus.svg" [attr.alt]="ariaLabelMore" />
                                          </button>
                                      </div> 
                                  </div>
                                </div>
                                
                                
                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-sm-8">   
                                        <div class="stepper-input stepper__input">
                                          <h4 style="color:#16489d;">Jumbo samochód z przyczepą</h4>  <hr>
                                        </div>
                                    </div>
                                      <div class="col-sm-4"> 
                                          <div class="stepper-input stepper__input">
                                              <button class="toggle-less"  (click)="toggltoggleLess_jumbo_z_przyczepa()">
                                                <img src="https://angular-stepper-input.stackblitz.io/assets/minus.svg" [attr.alt]="ariaLabelLess" />
                                              </button>
                                              <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
                                                 {{renderedValue_value_jumbo_z_przyczepa}}  
                                              </div>
                                              <button class="toggle-more" (click)="toggleMore_jumbo_z_przyczepa()">
                                                <img src="https://angular-stepper-input.stackblitz.io/assets/plus.svg" [attr.alt]="ariaLabelMore" />
                                              </button>
                                          </div> 
                                      </div>
                                    </div> 


                                    <div class="row" style="margin-top: 20px;">
                                        <div class="col-sm-8">   
                                            <div class="stepper-input stepper__input">
                                              <h4 style="color:#16489d;">Naczepa oplandekowana</h4>  <hr>
                                            </div>
                                        </div>
                                          <div class="col-sm-4"> 
                                              <div class="stepper-input stepper__input">
                                                  <button class="toggle-less"  (click)="toggleLess_naczepa_oplandekowana()">
                                                    <img src="https://angular-stepper-input.stackblitz.io/assets/minus.svg" [attr.alt]="ariaLabelLess" />
                                                  </button>
                                                  <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
                                                     {{renderedValue_naczepa_oplandekowana}}  
                                                  </div>
                                                  <button class="toggle-more" (click)="toggleMore_naczepa_oplandekowana()">
                                                    <img src="https://angular-stepper-input.stackblitz.io/assets/plus.svg" [attr.alt]="ariaLabelMore" />
                                                  </button>
                                              </div> 
                                          </div>
                                        </div>


                                        <div class="row" style="margin-top: 20px;">
                                            <div class="col-sm-8">   
                                                <div class="stepper-input stepper__input">
                                                  <h4 style="color:#16489d;">Mega naczepa oplandekowana</h4>  <hr>
                                                </div>
                                            </div>
                                              <div class="col-sm-4"> 
                                                  <div class="stepper-input stepper__input">
                                                      <button class="toggle-less"  (click)="toggleLess_mega_naczepa_oplandekowana()">
                                                        <img src="https://angular-stepper-input.stackblitz.io/assets/minus.svg" [attr.alt]="ariaLabelLess" />
                                                      </button>
                                                      <div class="stepper-input-field" name="range-value" aria-atomic="true" aria-live="polite" aria-relevant="all">
                                                         {{renderedValue_mega_naczepa_oplandekowana}}  
                                                      </div>
                                                      <button class="toggle-more" (click)="toggleMore_mega_naczepa_oplandekowana()">
                                                        <img src="https://angular-stepper-input.stackblitz.io/assets/plus.svg" [attr.alt]="ariaLabelMore" />
                                                      </button>
                                                  </div> 
                                              </div>
                                            </div>
    


                    </div> 
                </div> 

                <button *ngIf="isShown" style="  float: left; margin-top: 40px; "   class="btn btn-light" (click)="prevBtnClick()">Cofnij</button>
                <!--<button *ngIf="isShown" style="  float: right; margin-top: 40px; " class="btn btn-success mr-2" (click)="nextBtnClick()" type="submit">Dalej ></button> -->
                <button *ngIf="isShown" style="  float: right; margin-top: 40px; " class="btn btn-success mr-2" (click)="register()" type="submit">Zatwierdź</button> 
            </figure>
            
          </ng-template>
        </e-carousel-item>

        <e-carousel-item>
          <ng-template #template>
            <figure class="img-container">
               <h3>Jesteś juz zalogoway. Konto zostało zarejstrowane, sprawdź swoją skrzynkę pocztową!</h3>
            </figure>
          </ng-template>
        </e-carousel-item>
       
      </e-carousel-items>
    </ejs-carousel>
  </form>
  </div>










    <!--<form #registerForm="ngForm" (ngSubmit)="register3()" autocomplete="off" style="width: 400px;  margin-left: auto;
margin-right: auto;">


 
<div class="content-wrapper" style="margin-top:30px;">
        <div class="row material"> 
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <ejs-textbox placeholder="Podaj NIP"  cssClass="e-outline" floatLabelType="Auto">{{model.nip}}</ejs-textbox>
            </div> 
        </div>
        <div class="row material" *ngIf="isShown"> 
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <ejs-textbox placeholder="Nazwa Firmy"  cssClass="e-filled" floatLabelType="Auto"></ejs-textbox>
            </div> 
        </div>
        <div class="row material" *ngIf="isShown"> 
            <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                <ejs-textbox placeholder="Nazwa Firmy"  cssClass="e-filled" floatLabelType="Auto"></ejs-textbox>
            </div> 
        </div>
 
    </div>
 

    <div class="form-group row">
    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input type="text" class="form-control"  id="staticEmail" value="email@example.com">
    </div>
  </div>

          <div class="form-group row" *ngIf="isShown">
            <label for="staticEmail" class="col-sm-2 col-form-label">Nazwa firmy:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="miejscowosc" [(ngModel)]="model.miejscowosc" placeholder="miejscowosc"> 
            </div>
          </div>



        <div class="form-group" *ngIf="isShown"> 
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" placeholder="Password"> 
        </div>

        <div class="form-group text-center"> 
            <button class="btn btn-success mr-2" (click)="getCompanyByNip()" type="submit">Rejestruj</button>
           <button class="btn btn-success mr-2" (click)="register()" type="submit">Register</button> 
            <button class="btn btn-success mr-2" (click)="cancel()" type="submit">Cancel</button>
        </div>


        <div class="row">
            <div class="col">
                <label for="inputEmail4" class="col-form-label">{{company.nazwa}}</label>
            </div>
            <div class="col">
                <label for="inputEmail4" class="col-form-label">{{company.nip}}</label>
            </div>
          </div> 

          <div class="form-group text-center" style="margin-top:50px;"> 
         
         <button class="btn btn-success mr-2" (click)="register()" type="submit">Register</button> 
            <button class="btn btn-success mr-2" (click)="cancel()" type="submit">Cancel</button>
        </div>
</form>-->

      


 