.e-grid .e-rowcell.customcss{
  background-color: #e7ffea;
 
  font-family: 'Tahoma';
  font-size: 14px;
  text-align: center;
  }
  
  .e-grid .e-headercell.customcss{
  background-color: #2382c3;
  color: white;
  font-family: 'Bell MT';
  font-size: 20px;
  }
  
  