 

<div class='wrap'>
  <div class='label'>Slider formatted with unit representation</div>
  <ejs-slider id='slider' [min]=0 [max]=100 [value]=30 [tooltip]="tooltipData01" [ticks]="ticksData01"></ejs-slider>
</div>

 
<div class="container" style="margin-top:100px; margin-bottom:100px;">
  <div class="row">
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="w-100"></div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>

<ejs-grid [dataSource]='data'
 [allowPaging]="true"
  [pageSettings]='pageSettings'
   [allowGrouping]='true'
     [allowFiltering]='true' 
      [allowGrouping]='true'
      [allowSorting]='true'  [allowExcelExport]='true'  
      [filterSettings]='filterOption'>
    <e-columns>
        <e-column field='zaKraj' headerText='zaKraj' textAlign='Right' width=90></e-column>
        <e-column field='zaMiasto' headerText='zaMiasto' width=120></e-column>
        <e-column field='zaKod' headerText='zaKod' textAlign='Right' format='C2' width=90></e-column>
        <e-column field='wyKraj' headerText='wyKraj' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='wyMiasto' headerText='wyMiasto' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='wyKod' headerText='wyKod' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='taborProfil' headerText='taborProfil' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='OrderDate' headerText='Order Date' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='wagaLadunku' headerText='wagaLadunku' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='typOpakowania' headerText='typOpakowania' textAlign='Right' format='yMd' width=120></e-column>
        <e-column field='kwotaKUstalona' headerText='kwotaKUstalona' textAlign='Right' format='yMd' width=120></e-column>
    </e-columns>
    </ejs-grid>
   