<div class ="bs-component">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #000!important;" >
  
        <div class="container">

          <div class="container-fluid">                       
            <a class="navbar-brand" href="#">PickAndGo</a>
        
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <ng-container  *ngIf="accountService.currentUserSource$ | async">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/orders" routerLinkActive="active" aria-current="page"  >Zlecenia</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/second-component" routerLinkActive="active" aria-current="page"  >Przewoźnik</a>
                </li>
               
              </ng-container>
              <li class="nav-item">
                <a class="nav-link" routerLink="/errors" routerLinkActive="active" aria-current="page"  >Errors</a>
              </li>
              </ul>
 

                <div class="btn-group" *ngIf="(accountService.currentUserSource$ | async) as user" dropdown     style=" position: absolute;
                right: 150px;">
                  <button id="button-basic" dropdownToggle type="button" class="btn btn-outline-success"
                          aria-controls="dropdown-basic">
                          Cześć {{user.username | titlecase}}!<span class="caret"></span>
                  </button>
                  <ul id="dropdown-basic mt-3" *dropdownMenu class="dropdown-menu"
                      role="menu" aria-labelledby="button-basic"> 
                    <li role="menuitem"><a class="dropdown-item" href="#">Panel przewoźnika</a></li>
                    <li class="divider dropdown-divider"></li>
                    <li role="menuitem"> <a class="dropdown-item" (click)="logout()">Wyloguj</a>
                    </li>
                  </ul>
                </div>
 
               

              <form *ngIf="(accountService.currentUserSource$ | async) === null" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off" class="form-inline mt-2 mt-md-0"
               style=" position: absolute;
              right: 150px;">
                <input name="username" [(ngModel)]="model.username" class="form-control mr-sm-2" type="text" placeholder="Username"  >
                <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password"  >
                <button class="btn btn-success" type="submit">Login</button>
              </form>
            </div>
          </div>
          
        </div>  
  </nav> 
</div>